*.o
*~
*.mod

/make.inc


/FORTRAN/f_5x5
/FORTRAN/f_pddrive
/FORTRAN/f_pzdrive
/EXAMPLE/pddrive
/EXAMPLE/pddrive1
/EXAMPLE/pddrive1_ABglobal
/EXAMPLE/pddrive2
/EXAMPLE/pddrive2_ABglobal
/EXAMPLE/pddrive3
/EXAMPLE/pddrive3_ABglobal
/EXAMPLE/pddrive4
/EXAMPLE/pddrive4_ABglobal
/EXAMPLE/pddrive_ABglobal
/EXAMPLE/pzdrive
/EXAMPLE/pzdrive1
/EXAMPLE/pzdrive1_ABglobal
/EXAMPLE/pzdrive2
/EXAMPLE/pzdrive2_ABglobal
/EXAMPLE/pzdrive3
/EXAMPLE/pzdrive3_ABglobal
/EXAMPLE/pzdrive4
/EXAMPLE/pzdrive4_ABglobal
/EXAMPLE/pzdrive_ABglobal
/INSTALL/testdlamch
/INSTALL/testslamch
/INSTALL/testtimer
